<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <h2>Welcome back, {{currentUser.fullName}}!</h2>
    </div>

    <div class="container my-12 mx-auto px-4 md:px-12 mb-4" *ngFor="let movie of movieList" >
      <div class="w-full">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{movie[0].genres}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let i of movie">
            <p>{{ i.title }}</p>
            <app-movie-card></app-movie-card>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>